<?xml version="1.0" encoding="utf-8"?>
<!-- the root web configuration file -->
<configuration>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseExpires" httpExpires="Thu, 01 Jan 2026 00:00:00 GMT" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="public" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\cricwhitelabel.com\tmp" />
  </system.web>
</configuration>